* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
    /* color: white; */
}

#game-container {
    border: 1px solid #bf18958f;
    border-radius: 10px;
}

#modalEl {
    /* background: url('./assets/images/gameover.jpg'); */
}

#modalEl .bg-white {
    position: relative;
    border: 2px solid #bf18958f;
    height: 450px;
    /* width: 500px; */
    border-radius: 10px;
    background-color: #6e217d21;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em;
    box-shadow: 0 4px 8px rgba(189, 144, 144, 0.1);
}

.gamestart {
    background: no-repeat url('./assets/images/gamestart2.jpg');
    background-size: cover;
}

.gameover {
    background: no-repeat url('./assets/images/gameover.jpg') ;
    background-size: contain;
}

#bigScoreEl {
    color: #cf16a19c;
}

.points {
    color: #2c8089;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.5em;
    font-family: 'Dancing Script', cursive;
}

#difficultyBig {
    position: absolute;
    top: 1em;
    right: 1em;
    color: hsla(67, 40%, 46%, 0.922);
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    font-weight: bold;
}

#guideEl {
    color: #8cc2d3e3;
    font-size: 1em;
    font-weight: bold;
    font-style: italic; 
    font-family: 'Advent Pro';
    border-radius: 10px;
    background-color: #2d12516e;
    box-shadow: 0 4px 8px rgba(189, 144, 144, 0.1);
    padding: 0.7em 0;
    margin: 0 2em;
}
#guideEl p {
    padding: 0.3em 0; 
}
#guideEl .g-ctn {
    color: rgb(12 163 223);
}

#score-container, #bonus-container, #mto-container, #bestScore-container, #version-container, #player-container {
    color: aliceblue;
    position: fixed;
    background-color: #6e217d21;
    color: aliceblue;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 1em;
    font-family: 'Dancing Script', cursive;
}

#score-container{
    top: 1em;
    left: 1em;
}

#bonus-container {
    top: 1em;
    right: 1em;
}

#bestScore-container {
    left: 1em;
    bottom: 1em;
}

#version-container {
    top: 1em;
}

#mto-container {
    right: 0.75em;
    bottom: 0.75em;
    font-size: 1.3em;
}

.controlEl {
    color: rgba(104, 255, 117, 0.514);
    position: absolute;
    bottom: 7em;
}

#startGameBtn {
    margin-top: 1.5em;
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
}

.shake-element {
    animation: shake 0.5s ease-in-out 1; /* Adjust the duration and timing function as needed */
}

#munitionsEl {
    position: absolute;
    bottom: 1em;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rocket-card, .infinity-card {
    color: #e5d4d4d6;
    background-color: #6e217d21;
    border-radius: 10px;
    padding: 0.3em 0.7em;
    margin: 0 0.2em;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.7;
}

#rocketEl {
    color: #c72929d6;
}

#infinityEl {
    color: #138112d6;
}




