#player-container {
    bottom: 1em;
    right: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0.6;
}

#volumeEl {
    margin: 0 1em 0 0.5em;
}

#volumeToggleEl, #soundtrackToggleEl {
    font-size: 1.5em;
    margin: 0.2em 0 0 0;
}

